
<div>
<h1> Menu Listings</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Cuisine</th>
    <th>Price</th>
    <th>Peanuts</th>
    <th>Gluent</th>
    <th>Diary</th>
  </tr>
  <tr>
    <!-- <%= Menu.all.each do |menu| %> -->
    <td><%= menu.name %></td>
    <td><%= menu.cuisine %></td>
    <td><%= menu.price %></td>
    <td><%= menu.gluent %></td>
    <td><%= menu.dairy %></td>

  </tr>
  <!-- <% end %> -->
</table>
</div>
