<%= @greeting %>
<br>
<br>
<h2>Please Choose From the following Menus</h2>
<button><%= link_to "Add Party", new_table_path, method: :get %></button>
<button><%= link_to "Show Party", tables_path, method: :get %></button>
<button><%= link_to "Add Order", new_order_path, method: :get %></button>
<button><%= link_to "Show Orders", orders_path, method: :get %></button>
