
<div>
<h1> Show Orders</h1>
<table>
  <tr>
    <th>Table Num</th>
    <th># of Guests</th>
    <th>Order Name</th>
    <th>Order Price</th>

  </tr>
  <tr>
    <% @tables.each do |table| %>

    <td><%= table.table_num %></td>
    <td><%= table.guests %></td>
    <%  table.menus.each do |menu| %>
    <td><%=  menu.name %></td>
    <td><%=  menu.price %></td>
    <% end %>
    <td><button><%= link_to "Delete", table_path(table) %></button></td>
    <td><button><%= link_to "Edit", edit_table_path(table) %></button></td>

  </tr>
  <% end %>
</table>
</div>
