<div>
<h1> Show Orders</h1>
<table>
  <tr>
    <th>Menu ID</th>
    <th>Party ID</th>
  </tr>
  <tr>
    <!-- <%= Order.all.each do |order| %> -->
    <td><%= order.menu_id %></td>
    <td><%= order.party_id %></td>
    <td><button><%= link_to "Delete", order_path(order) %></button></td>
    <td><button><%= link_to "Edit", edit_order_path(order) %></button></td>

  </tr>
  <!-- <% end %> -->
</table>
</div>
