
<div class="form">
<h1>Add an order</h1>
 <%= form_for :table, :url => orders_path, :html => {:method => :post} do |f| %>
 <%= select("order", "table_id", Table.all.collect {|p| [ p.table_num, p.id] }, {prompt: 'Select Party'}) %>
 <br>
 <br>
 <%= select("order", "menu_id", Menu.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select Food'}) %>
 <br>
 <br>
<%= f.collection_select(:cuisine, Menu.all, :cuisine, :name, {}, {multiple: true}) %>
 <br>
 <br>
 <%= f.hidden_field :user_id, :value => session[:current_user_id] %>
 <%= f.submit "Add order"%><br>
 <% end %>
</div>
