<div class="form">
<h1>Edit Party</h1>
  <%= form_for :table, :url => orders_path, :html => {:method => :post} do |f| %>
  <%= f.label :table_num%><br>
  <%= f.text_field :table_num%><br>
  <%= f.label :guests%><br>
  <%= f.text_field :guests%><br>
  <br>
  <%= f.submit "Edit Party"%><br>
  <% end %>
</div>
