<div class="form">
<h1>Create Party</h1>
  <%= form_for :table, :url => tables_path, :html => {:method => :post} do |f| %>
  <%= f.label :table_num%><br>
  <%= f.text_field :table_num%><br>
  <%= f.label :guests%><br>
  <%= f.text_field :guests%><br>
  <br>
  <%= f.submit "Add Party"%><br>
  <% end %>
</div>
